table {
    border-collapse: collapse;
    /* width : 7%; */
    width: 90%;
    /* font-family: arial, sans-serif; */
}
  
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    /* text-align: left; */
}
  
/* tr:nth-child(even) {
    background-color: #dddddd;
} */