body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.log_in_page {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.tab_bar {
    background-color: #4CAF50; /* Green color theme */
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.log_in_form {
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="radio"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4CAF50; /* Green color theme */
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green color theme */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Slightly darker shade on hover */
}

a {
    color: #4CAF50; /* Green color theme */
    text-decoration: none;
}

a:hover {
    color: #216a94;
}
