body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.patient-home-page {
    background-color: #fff;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.tab-bar {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.display-options {
    padding: 20px;
}

.patient-display {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50; /* Green color theme */
    color: #fff;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #4CAF50; /* Green color theme */
    box-sizing: border-box;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green color theme */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Slightly darker shade on hover */
}

a {
    color: #4CAF50; /* Green color theme */
    text-decoration: none;
}

a:hover {
    color: #216a94;
}

/* Additional styles for vaccine scheduling section */
h2 {
    color: #4CAF50; /* Green color theme */
    margin-top: 20px;
}

/* Adjust styling as needed */
